<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SLOTT GACOR 88!</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, adipisci molestiae. Explicabo porro dicta numquam odio vero doloremque nulla ea nobis delectus voluptatum, veniam fugit distinctio, illum quas! Error, aut!
    </p>
    <button>
        click here 
    </button>

</body>
</html>